.landing-header {
  display: -webkit-box;
  display: flex;
  text-transform: uppercase;
}

.intro {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  div {
    color: $dark;
    max-width: 960px;
    min-width: 350px;
    padding: 80px;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  hr {
    align-self: center;
    width: 60%;
    border: 1px solid $light;
    border-radius: 5px;
    margin: 30px;
  }
}

.features {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
}

.features-hero {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  div {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: $dark;
    height: 220px;
    margin: 20px;
    width: 350px;
    border: 2px solid $primary;
  }
}

.marketing {
  color: $dark;
  display: -webkit-box;
  display: flex;
  max-width: 960px;
  min-width: 350px;
  padding: 80px;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  hr {
    align-self: center;
    width: 60%;
    border: 1px solid $light;
    border-radius: 5px;
    margin: 30px;
  }
}
