/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* end of reset */
/* colors */
html,
body {
  font-size: 10px; }

h1 {
  font-family: Montserrat;
  font-size: 6.103515625em;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em; }

h2 {
  font-family: Montserrat;
  font-size: 4.8828125em;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em; }

h3 {
  font-family: Montserrat;
  font-size: 3.90625em;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em; }

h4 {
  font-family: Montserrat;
  font-size: 3.125em;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em; }

h5 {
  font-family: Montserrat;
  font-size: 2.5em;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em; }

h6 {
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em; }

p {
  font-family: Lora;
  font-size: 1.6em;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em; }

@media screen and (max-width: 720px) {
  h1 {
    font-family: Montserrat;
    font-size: 6.103515625em;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em; }
  h2 {
    font-family: Montserrat;
    font-size: 4.8828125em;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em; }
  h3 {
    font-family: Montserrat;
    font-size: 3.90625em;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em; }
  h4 {
    font-family: Montserrat;
    font-size: 3.125em;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em; }
  h5 {
    font-family: Montserrat;
    font-size: 2.5em;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em; }
  h6 {
    font-family: Montserrat;
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0em; }
  p {
    font-family: Lora;
    font-size: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em; } }

.landing-header {
  display: -webkit-box;
  display: flex;
  text-transform: uppercase; }

.intro {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center; }
  .intro div {
    color: #847499;
    max-width: 960px;
    min-width: 350px;
    padding: 80px;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
  .intro hr {
    align-self: center;
    width: 60%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin: 30px; }

.features {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center; }

.features-hero {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center; }
  .features-hero div {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #847499;
    height: 220px;
    margin: 20px;
    width: 350px;
    border: 2px solid #5c6fff; }

.marketing {
  color: #847499;
  display: -webkit-box;
  display: flex;
  max-width: 960px;
  min-width: 350px;
  padding: 80px;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center; }
  .marketing hr {
    align-self: center;
    width: 60%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin: 30px; }

body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: sans-serif;
  color: #ebebeb; }
  body h1 {
    font-size: 3em; }

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center; }
  .container header {
    height: 200px;
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    color: #ebebeb;
    background-color: #5c6fff; }
    .container header h1 {
      margin: 0 !important; }
